@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body {
  background-image: url('/static/clouds.jpeg');
  background-size: cover;
  background-position: center;
  color: rgba(102, 17, 45, 0.724);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
}

form {
  margin-top: 50px;
  text-align: center;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 1.2em;
}

button[type="button"] {
  background-color:  #2d83a2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #94c6d7;
}

p {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

/* Add styles for the weather data table */
#weatherDataDiv {
  margin-top: 50px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
  table-layout: auto;
}

th, td {
  padding: 5px;
  text-align: center;
  border: 5px solid rgb(100, 100, 107);
  box-shadow: #2d83a2;
}
